.hoja1 {
  position: absolute;
  width: 200px;
  top: -5vh;
  left: -25vw;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
}

.hoja3 {
  position: absolute;
  width: 220px;
  top: 10vh;
  right: -20vw;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -3s;
}

.hoja2 {
  position: absolute;
  width: 190px;
  bottom: -10vh;
  right: -15.625vw;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -2.3s;
}

.hoja5 {
  display: none;
  position: absolute;
  width: 200px;
  bottom: 2.18vh;
  right: 46%;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -3s;
}

.hoja4 {
  position: absolute;
  width: 180px;
  top: 40%;
  left: -16.6vw;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -1s;
}

@keyframes hojaAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hoja_blur1 {
  display: none;
  position: absolute;
  width: 300px;
  filter: blur(6px);
  transform: rotate(180deg);
  top: -20vh;
  left: 12.5vw;
  z-index: 10;
  animation: blurAnimation2 3s ease-in-out infinite;
  animation-delay: -3s;
  will-change: transform;
}

@keyframes blurAnimation2 {
  0% {
    transform: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(-18px);
  }
  100% {
    transform: rotate(180deg) translateY(0);
  }
}

.hoja_blur6 {
  display: none;
  position: absolute;
  width: 300px;
  filter: blur(7px);
  bottom: -17.4vh;
  right: 15.625vw;
  z-index: 10;
  animation: blurAnimation 4s ease-in-out infinite;
  animation-delay: -1s;
}

@keyframes blurAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.hoja_blur1 img,
.hoja_blur6 img,
.hoja1 img,
.hoja3 img,
.hoja2 img,
.hoja5 img,
.hoja4 img {
  width: 100%;
  height: auto;
}

@media screen and (min-width: 768px) {
  .hoja1 {
    top: 0vh;
    left: 0vw;
  }

  .hoja3 {
    top: 10vh;
    right: 0vw;
  }

  .hoja4 {
    top: 40%;
    left: 0vw;
  }

  .hoja2 {
    bottom: 0vh;
    right: 0vw;
  }
}

@media screen and (min-width: 1000px) {
  .hoja1 {
    top: 0vh;
    left: 25vw;
  }

  .hoja2 {
    bottom: -10vh;
    right: -7vw;
  }

  .hoja4 {
    top: 40%;
    left: -5vw;
  }
}

@media screen and (min-width: 1400px) {
  .hoja1 {
    top: 0vh;
    left: 30vw;
  }

  .hoja2 {
    bottom: -10vh;
    right: 10vw;
  }

  .hoja4 {
    top: 40%;
    left: 6vw;
  }
}

@media screen and (min-width: 1600px) {
  .hoja1 {
    top: 5vh;
    left: 35vw;
  }

  .hoja3 {
    top: 16.3vh;
    right: 15.625vw;
  }

  .hoja2 {
    bottom: 16.3vh;
    right: 15.625vw;
  }

  .hoja5 {
    bottom: 2.18vh;
    right: 46%;
  }

  .hoja4 {
    top: 40%;
    left: 16.6vw;
  }

  .hoja_blur1,
  .hoja_blur6 {
    display: block;
  }
}
