.hoja1 {
  position: absolute;
  width: 250px;
  top: 5vh;
  left: 30vw;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
}

.hoja3 {
  position: absolute;
  width: 280px;
  top: 150px;
  right: 260px;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -3s;
}

.hoja2 {
  position: absolute;
  width: 200px;
  bottom: 150px;
  right: 290px;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -2.3s;
}

.hoja5 {
  position: absolute;
  width: 250px;
  bottom: 20px;
  right: 900px;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -3s;
}

.hoja4 {
  position: absolute;
  width: 180px;
  top: 40%;
  left: 270px;
  z-index: 10;
  animation: hojaAnimation 4s ease-in-out infinite;
  animation-delay: -1s;
}

@keyframes hojaAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}

.hoja_blur1 {
  position: absolute;
  width: 300px;
  filter: blur(6px);
  transform: rotate(180deg);
  top: -20vh;
  left: 12.5vw;
  z-index: 10;
  animation: blurAnimation2 3s ease-in-out infinite;
  animation-delay: -3s;
  will-change: transform;
}

@keyframes blurAnimation2 {
  0% {
    transform: rotate(180deg) translateY(0);
  }
  50% {
    transform: rotate(180deg) translateY(-18px);
  }
  100% {
    transform: rotate(180deg) translateY(0);
  }
}

.hoja_blur6 {
  position: absolute;
  width: 300px;
  filter: blur(7px);
  bottom: -160px;
  right: 240px;
  z-index: 10;
  animation: blurAnimation 4s ease-in-out infinite;
  animation-delay: -1s;
}

@keyframes blurAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
  100% {
    transform: translateY(0);
  }
}

.hoja_blur1 img,
.hoja_blur6 img,
.hoja1 img,
.hoja3 img,
.hoja2 img,
.hoja5 img,
.hoja4 img {
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1400px) {
  .hoja1 {
    width: 130px;
  }

  .hoja_blur1 {
    width: 200px;
  }
}
