.left_main {
  width: 30%;
  min-width: 370px;
}

.imagen_taza {
  width: 100%;
  position: relative;
}

.cont_imagen {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.rama {
  width: 370px;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(calc(-50%));
}

/* =======================================================================
============== AQUI VA EL CODIGO DEL LADO DERECHO =====================
==============    ONDE SE MUESTRAN LOS TEXTOS     =====================
======================================================================= */
.right_main {
  width: 70%;
  margin-top: 80px; /*Borrar con version de escritorio=================IMPORTANTE!!!!!!!!!!!!!!!!!!!!!*/
  min-width: 370px;
  color: #f2f2f2;
  display: grid;
  gap: 40px;
}

.titulo {
  font-size: clamp(24px, 7vw, 48px);
  text-align: center;
}

.descripcion {
  font-size: clamp(18px, 4vw, 28px);
  text-align: center;
}

.textos_mapa {
  text-align: center;
  display: grid;
  gap: 20px;
  justify-items: center;
}

.textos_mapa h2 {
  font-size: clamp(20px, 5vw, 28px);
}

.textos_mapa p {
  font-size: clamp(18px, 3vw, 28px);
}

.boton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  background-color: #f84040;
  padding: 20px 50px;
  border-radius: 10px;
  text-decoration: none;
  color: #f2f2f2;
  font-size: 1.25rem;
  font-weight: 500;
  transition: all ease 300ms;
}

.boton img {
  width: 38px;
  height: auto;
}

.boton:hover {
  background-color: #fe7171;
}

@media screen and (min-width: 820px) {
  .right_main {
    margin-top: 0;
  }
}

@media screen and (min-width: 1000px) {
  .titulo {
    text-align: left;
    line-height: 40px;
    margin-bottom: 20px;
  }

  .descripcion {
    text-align: left;
    line-height: 30px;
  }

  .textos_mapa {
    gap: 0;
  }

  .textos_mapa h2 {
    line-height: 26px;
  }

  .textos_mapa p {
    line-height: 30px;
  }

  .boton {
    width: 350px;
    height: 70px;
  }
}
