* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: clamp(14px, 2.5vw, 18px);
  position: relative;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

@media screen and (min-width: 1000px) {
  body {
    overflow: hidden;
  }
}
