.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: url(../public/back.jpg);
  background-size: cover;
  padding: 20px;
}

.main {
  min-width: 380px;
  background-color: rgba(255, 255, 2555, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 20px;
}

.logo {
  width: 200px;
}

.contenedores {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 1000px) {
  /* .page {
    padding: 0;
  } */

  .main {
    max-width: 1000px;
    align-items: flex-start;
  }

  .contenedores {
    flex-wrap: nowrap;
  }
}
