.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: url(../public/back.jpg);
  background-size: cover;
}

.main {
  backdrop-filter: blur(20px);
  min-width: 370px;
  width: 90%;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 30px;
  position: relative;
}

.hojas {
  position: absolute;
  z-index: 100;
}

.hojas img {
  width: 100%;
  height: auto;
}

.hojas:nth-child(1) {
  width: 150px;
  top: -60px;
  left: -40px;
}

.hojas:nth-child(2) {
  width: 180px;
  top: 30px;
  right: -60;
}

.cont_logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont_logo img {
  width: 60%;
  height: auto;
}

.imagen {
  width: 100%;
  position: relative;
}

.humo {
  position: absolute;
  top: -150px;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1000;
}

.humo:nth-child(1) {
  top: -100px;
  left: -40px;
}

.cont_imagen {
  width: 100%;
  height: 500px;
  overflow: hidden;
  border-radius: 30px;
}

.foto_taza {
  width: auto;
  height: 100%;
  display: inline-block;
}

.rama {
  width: 100%;
  position: absolute;
  bottom: -150px;
  left: 0;
}

.foto_rama {
  width: 100%;
  height: auto;
}

.textos {
  margin-top: 100px;
  width: 100%;
  text-align: center;
}
