.page {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: url(../public/back.jpg);
  background-size: cover;
}

.main {
  min-width: 400px;
  background-color: rgba(255, 255, 2555, 0.15);
  backdrop-filter: blur(15px);
  border-radius: 30px;
  padding: 25px 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.logo {
  width: 150px;
}

.logo img {
  width: 100%;
  height: auto;
  display: block;
}

.sons {
  display: grid;
  grid-template-columns: 350px 2fr;
  gap: 50px;
}

@media screen and (max-width: 1400px) {
  .sons {
    grid-template-columns: 1fr;
    gap: 110px;
  }
}

@media screen and (max-width: 750px) {
  .main {
    min-width: 380px;
    margin: 20px 0;
    padding: 15px 15px 40px 15px;
  }
}
