.page {
  --background: #fafafa;
  --foreground: #fff;

  --text-primary: #000;
  --text-secondary: #666;

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;
  --button-secondary-border: #ebebeb;

  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-family: var(--font-geist-sans);
  background-image: url(../public/back.jpg);
  background-size: cover;
}

.main {
  backdrop-filter: blur(40px);
  min-width: 370px;
  width: 90%;
  padding: 20px;
  margin: 20px 0;
  display: flex;
  gap: 30px;
  flex-direction: column;
  border-radius: 30px;
}

.cont_logo {
  width: 100%;
  display: flex;
  justify-content: center;
}

.cont_logo img {
  width: 60%;
  height: auto;
}

.imagen {
  width: 100%;
  border-radius: 30px;
  overflow: hidden;
}

.imagen img {
  width: 100%;
  height: auto;
}
